.itemDisplayContainer {
    background-color: #1c2238;
    padding: 15px;
    width: 400px;
    margin: 20px 20px 0 0;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

h3 {
    font-size: 16px;
    letter-spacing: 2px;
    color: #8ca7d1;
    text-transform: uppercase;
}

span {
    font-size: 17px;

}

.imageBox {
    height: 150px;
    width: 150px;
    margin-right: 15px;
}

.itemImage {
    width: 100%;
}

.itemContentContainer {
    position: relative;
    padding-top: 50px;
    flex-grow: 1;
   
}

.heartBtn {
    height: 26px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-style: none;
    background-color: transparent;
}

.heartBtn:hover {

}


.vbucksContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.vbucks {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

