.App {
  width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #15182b;
}

.content {
  padding: 20px;
  background-color: aqua;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
}

.wishList {
  background-color: #5b7199;
  padding: 100px;
  width: 260px;
  position: sticky;
  
}




.mappedItems {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}